* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    margin: 0 auto;
    width: 25%;
    margin-top: 8vh;
}

.form-element {
    width: 100%;

}

.form-element label {
    display: block;
    font-size: 22px;
    margin-top: 1rem;
}

.form-element input[type=username],
.form-element input[type=password] {

    font-size: 22px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #888888;

}

/* .login-container h2 {
    text-align: center;
    font-size: 40px;
} */

.login-container button {
    width: 100%;
        letter-spacing: 6px;
    border-radius: 4px;
    margin-top: 2rem;
    font-size: 24px;
    padding: 1rem;
    background-color: rgb(215, 0, 0);
    border: none;
    color: white;
    cursor: pointer;
}

.login-container button:hover {
    background-color: rgb(255, 0, 0);
}

.login-container {
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    height: auto;
    padding: 2rem;
    box-shadow: 5px 6px 18px #888888;
}

.form-logo {
    width: 100%;
    height: auto;
    text-align: center;
}

/* sets background for login page */
/* #formlogin {

} */

/* message */
.message {
    width: 100%;
    padding: 1rem;
}

.message.warning {
    background: #e9e77f;
    border-left: 6px solid #ceca09;
    color: #817f05;
}

.message.success {
    margin-left: 26.5vh;
    background-color: #4bb838;
    border-left: 6px solid #069b1e;
    font-size: 18px;
        color: white;
}

.message.info {
    background-color: #248baa;
    border-left: 6px solid #06589b;
    color: white
}

/* end of message */

.wrapper {
    padding: 0 2rem 0 2rem;
}
h1 {
    text-align: center;
}

table {
    margin-top: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.search-container {
    width: 30%;
    padding-bottom: 1rem;

}

.search-input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ddd;
    float: left;
    width: 80%;
    background: white;
}

.search-button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(2, 110, 165);
    color: white;
    font-size: 17px;
    border: 1px solid #ddd;
    border-left: none;
    cursor: pointer;
    letter-spacing: 2px;
}

.button-container {
    margin: 0;
    float: right;
    padding: 1rem 0 2rem 0;

}

.button-container a {
    float: right;
    border: 1px solid rgb(2, 94, 139);
    background: rgb(2, 110, 165);
    padding: 8px 10px 8px 10px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.button-container a:hover {
    background: rgb(6, 77, 112);
}

.button-small {
    border: none;
    background: rgb(2, 110, 165);
    color: white;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    font-size: 12px;
}

.button-danger {
    float: left;
    background: rgb(201, 0, 0);
    padding: 11px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    border: none;
}

.button-danger:hover {
    background: rgb(236, 0, 0);
}

.button-small:hover {
    background: rgb(2, 55, 82);
}

/* add form */
.form-container {
    margin: 0 10px;
    padding-top: 2rem;
}

.form-container input,
.form-container select {
    display: block;
    font-size: 22px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #888888;
    margin: 12px 0;
}

.form-container label {
    font-size: 22px;
}

.form-container input[type="submit"] {
    width: 100%;
    letter-spacing: 6px;
    border-radius: 4px;
    margin-top: 2rem;
    font-size: 32px;
    padding: 1rem;
    background-color: rgb(215, 0, 0);
    border: none;
    color: white;
    cursor: pointer;
}

ul.items {
    padding: 2rem;
    font-size: 16px;
}

.error {
    font-weight: bold;
    color: red;
}
/* Dashboard Section Left Side Container */

.left-container {
    float: left;
    height: 100%;
    width: 200px;
    background-color: #d52033;
    padding: 20px;
}

.left-container h4 {
    margin-top: 8px;
    font-size: 20px;
    color: white;
}
.category-list {
    font-size: 18px;
    list-style-type: none;
    padding: 0;
}

.category-list li {
    margin-bottom: 20px;
}

.category-list li img {
    width: 20px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.category-list li a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 5px;
}


/* Main dashboard */
.header {
    width: 100%;
    height: 100vh;
    background: #e2e9f7;
}

.side-nav {
    width: 250px;
    height: 100%;
    background: #666768;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.logo {
    display: block;
    margin-bottom: 50px;
}

.logo-img {
    width: 180px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 10px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li img {
    font-size: 22px;
    margin-right: 20px;
}

.nav-links li:hover a {
    color: white;
    transition: 0.3s;
}

.nav-links li:hover~.active {
    display: block;
}

.nav-links li:nth-child(1):hover~.active {
    top: 2.6%;
}

.nav-links li:nth-child(2):hover~.active {
    top: 21.6%;
}

.nav-links li:nth-child(3):hover~.active {
    top: 41.6%;
}

.nav-links li:nth-child(4):hover~.active {
    top: 61.6%;
}

.nav-links li:nth-child(5):hover~.active {
    top: 81.6%;
}

.active {
    background-color: #c71224;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(38, 38, 38, 0.4);
    display: none;
    transition: top 0.3s;
}
.right-container {
    margin-left: 250px;
    padding: 40px;
}

.container-list {
    display: flex;
}

.container {
    background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
    height: 220px;
    width: 350px;
    margin-right: 10px;
    cursor: pointer;
}

.container:hover {
    background-color: #f0f0f0;
}