* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    margin: 0 auto;
    width: 25%;
    margin-top: 8vh;
}

.form-element {
    width: 100%;

}

.form-element input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}
.form-element label {
    display: block;
    font-size: 19px;
    margin-top: 1rem;
}

.info-text{
    font-size: 18px;
    font-weight: bold;
}

.form-element input[type=username],
.form-element input[type=password] {
    font-size: 20px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: rgb(52, 52, 52);

}

/* .login-container h2 {
    text-align: center;
    font-size: 40px;
} */

.login-container button {
    width: 100%;
        letter-spacing: 6px;
    border-radius: 4px;
    margin-top: 2rem;
    font-size: 24px;
    padding: 1rem;
    background-color: rgb(215, 0, 0);
    border: none;
    color: white;
    cursor: pointer;
}

.login-container button:hover {
    background-color: rgb(255, 0, 0);
}

.login-container {
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    height: auto;
    padding: 2rem;
    box-shadow: 5px 6px 18px #888888;
}

.form-logo {
    width: 100%;
    height: auto;
    text-align: center;
}

.form-dashboard {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-style: none;
}
/* sets background for login page */
/* #formlogin {

} */

.required {
    font-size: 20px;
    color: red;
}

/* message when no user found */

.registration{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.registration a{
    text-decoration: none;
    color: rgb(46, 72, 217);
}


.message.warning {
    background: #e9e77f;
    border-left: 6px solid #ceca09;
    color: #817f05;
}

/* end of message */

/* CSS for styling the popup message */
.popup-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    /* Initially hidden */
}

.success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

/* CSS for styling the popup message */

.wrapper {
    padding: 0 2rem 0 2rem;
}
h1 {
    text-align: center;
}

table {
    border-radius: 8px;
    margin-top: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 75%;
}

#table2 {
    border-radius: 8px;
    margin-top: 0px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 75%;
}

th{
    background-color: #757678;
    text-align: left;
    padding: 14px;
    color: white;
    border: 1px solid #a9a9a9;
}
td {
    text-align: left;
    padding: 14px;
        border: 1px solid #a9a9a9;
}

a {
    text-decoration: none;
}

tr:nth-child(even) {
    /* background-color: #f2f2f2; */
}
.aa {
    display: inline-block;
    text-decoration: none;
    color: #111111;
    padding: 10px 20px;
    border: thin solid #555;
    border-radius: 6px;
    font-size: 15px;
}

.aa:hover {
    background: #d52033;
    color: #fff;
}

.aa.actives {
    background-color: #d52033;
    color: #fff;
    border: thin solid #555;
}

.aa.actives2 {
    background-color: #d52033;
    color: #fff;
    border: thin solid #555;
}

.page-info {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.pagination {
    margin-top: 10px;
}

.content p {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;

}

.page-numbers {
    display: inline-block;
}

.status-add {
    margin-top: 8px;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.close-btn {
    text-align: left;
    font-size: 30px;
    position: absolute;
    top: 4px;
    right: 10px;
    color: white;
    cursor: pointer;
}
.status-delete {
    margin-top: 5px;
    padding: 15px;
    height: 50px;
    background-color: #d52033;
    color: white;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.status-edit {
    margin-top: 8px;
    padding: 12px;
    background-color: #cfd520;
    color: white;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    position: relative;
}
.search {
    border: 1px solid #333333;
    width: 40%;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 8px;
    background: #f6f6f6;
}

.search-input {
    font-size: 16px;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;

}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.75);
}

.search-icon {
    width: 20px;
    height: 20px;
}

.button-container {
    float: left;
    margin-top: 15px;
}
.button-container2 {
    float: left;
    margin-left: 15px;
    margin-top: 15px;

}

.button-container2 a {
    background: #d52033;
    border-radius: 6px;
    padding: 8px 10px 8px 10px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.button-container2 a:hover {
    background: #8e1522;
}

.button-container a {
    background: #d52033;
    border-radius: 6px;
    padding: 8px 10px 8px 10px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.button-container a:hover {
    background: #8e1522;
}

/* asd */
.button-containers {

    margin-top: 15px;
    margin-bottom: 30px;
}

.button-containers a {
    background: #d52033;
    border-radius: 6px;
    padding: 8px 10px 8px 10px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.button-containers a:hover {
    background: #8e1522;
}

.button-small {
    border: none;
    background: #d52033;
    color: white;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    font-size: 12px;
}

.button-small:hover {
    background: #8e1622;
}
.button-danger {
    background: #d52033;
        padding: 8px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    border: none;
    border-radius: 6px;
}

.button-danger:hover {
    background: #8e1622;
}

/* Container for the buttons */
.button-container-delete-edit {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* Styling for the Edit link */
.button-container-delete-edit a {
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    background-color: #007bff; /* Bootstrap primary color */
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-container-delete-edit a:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

/* Styling for the Delete button */
.button-danger-delete-edit {
    padding: 8px 12px;
    color: white;
    background-color: #dc3545; /* Bootstrap danger color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-danger-delete-edit:hover {
    background-color: #c82333; /* Darker shade for hover effect */
}

/* add form */
.form-container {
    font-size: 18px;
    display: block;
    color: #000000;
}

.form-container input,
.form-container select {
    display: block;
    font-size: 18px;
    width: 50%;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #888888;
    margin: 12px 0;
}

.form-container label {
    font-size: 18px;
}

.form-container input[type="submit"] {

    width: 0%;
    padding: 10px 20px;
    background-color: #d52033;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container2 {
    text-align: left;
    margin: 0 10px;
    padding-top: 2rem;

}

.confirmpasserror {
    color: red;
    display: none;
}

.form-container2 input,
.form-container2 select {
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #888888;
    margin: 12px 0;
}

.form-container2 label {
    font-size: 18px;
}

.form-container2 input[type="submit"] {

    padding: 10px 20px;
    background-color: #d52033;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.form-employee {
    padding-top: 2rem;
}

.form-employee label {

    font-size: 18px;
    margin-right: 1px;
}

.form-employee input,
.form-employee select {

    font-size: 18px;
    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #888888;
    margin: 12px 12px;
}

.form-employee input[type="submit"] {
    width: 120px;
    letter-spacing: 2px;
    border-radius: 4px;
    margin-top: 2rem;
    font-size: 18px;
    padding: 1rem;
    background-color: rgb(215, 0, 0);
    border: none;
    color: white;
    cursor: pointer;
}

.form-employee button[type="button"] {
    width: 80px;
    letter-spacing: 2px;
    border-radius: 4px;
    margin-top: 2rem;
    font-size: 18px;
    padding: 1rem;
    background-color: rgb(215, 0, 0);
    border: none;
    color: white;
    cursor: pointer;
}



ul.items {
    padding: 2rem;
    font-size: 16px;
}

.error {
    font-weight: bold;
    color: red;
}
/* Dashboard Section Left Side Container */

.left-container {
    float: left;
    height: 100%;
    width: 200px;
    background-color: #d52033;
    padding: 20px;
}

.left-container h4 {
    margin-top: 8px;
    font-size: 20px;
    color: white;
}
.category-list {
    font-size: 18px;
    list-style-type: none;
    padding: 0;
}

.category-list li {
    margin-bottom: 20px;
}

.category-list li img {
    width: 20px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.category-list li a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 5px;
}


/* Main dashboard */
.header {
    width: 100%;
    height: 100vh;
    background: #e2e9f7;
}

.side-nav {
    width: 300px;
    height: 100%;
    background: #666768;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.logo {
    display: block;
    margin-bottom: 50px;
}

.logo-img {
    margin-top: 3vh;
        margin-left: 40px;
        height: auto;
        width: auto;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 10px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li img {
    font-size: 22px;
    margin-right: 20px;
}

.nav-links li:hover a {
    color: white;
    transition: 0.3s;
}

.nav-links li:hover~.active {
    display: block;
}

.nav-links li:nth-child(1):hover~.active {
    top: 2.6%;
}

.nav-links li:nth-child(2):hover~.active {
    top: 22.6%;
}

.nav-links li:nth-child(3):hover~.active {
    top: 42.6%;
}

.nav-links li:nth-child(4):hover~.active {
    top: 62.6%;
}

.nav-links li:nth-child(5):hover~.active {
    top: 82.6%;
}

.active {
    background-color: #c71224;
    width: 245px;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(38, 38, 38, 0.4);
    display: none;
    transition: top 0.3s;
}

/* Target the submenu ul and remove its bullet points */
ul.submenu {
    list-style-type: none; /* Remove bullet points */
    padding-left: 0;       /* Remove default padding */
}

/* Optionally, remove bullet points for the main list as well */
li.has-submenu {
    list-style-type: none;
}


.active2 {
    background-color: #c71224;
    width: 245px;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(38, 38, 38, 0.4);
    display: none;
    transition: top 0.3s;
}

.nav-links li:hover~.active2 {
    display: block;
}

.nav-links li:nth-child(1):hover~.active2 {
    top: 3.6%;
}

.nav-links li:nth-child(2):hover~.active2 {
    top: 36.6%;
}

.nav-links li:nth-child(3):hover~.active2 {
    top: 69.6%;
}

.box-container {
    position: absolute;
    border: 1px solid #ccc;
    width: 75%;
    height: 90%;
    padding: 30px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-container h1{
    text-align: left;
}

.gauge-line {
    width: 95%;
    height: 2px;
    background-color: #000; /* You can change the color as needed */
    margin-top: 20px;
    margin-bottom: 20px;
}


.box-container1 {
    display: flex;
    position: absolute;
    border: 1px solid #ccc;
    width: 75%;
    height: 90%;
    padding: 30px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submenu {
    display: none;
    padding-left: 20px;
}

.has-submenu.open .submenu {
    display: block;
}


.right-container {
    margin-left: 300px;
    padding: 40px;
}


.right-container-add {
    margin-left: 300px;
    padding: 40px;
}

.right-container-pic {
    margin-left: 300px;
    padding: 30px;
}

.right-container-pic img{
    border-radius: 8px;
}

.school {
    border-radius: 8px;
    width: 100%;
}


.container-list {
    display: flex;
    margin-right: 10px;
}

.container {
    background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
    height: 220px;
    width: 350px;
    margin-right: 10px;
    cursor: pointer;
}

.container-container1 {
    text-decoration: none;
    border-radius: 8px;
    height: 220px;
    width: 350px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    /* Add flex display */
    justify-content: center;
    /* Align content horizontally to center */
    align-items: center;
    /* Align content vertically to center */
}

.employed {
    top: 135px;
        left: 70px;
        position: absolute;
        color: white;
        font-size: 90px;
        z-index: 1;
        /* Ensure text is on top of the image */

}

.users{
        top: 135px;
            left: 430px;
            position: absolute;
            color: white;
            font-size: 90px;
            z-index: 1;
            /* Ensure text is on top of the image */
    
    }

    .report1 {
        top: 175px;
            left: 70px;
            position: absolute;
            color: white;
            font-size: 30px;
            z-index: 1;
            /* Ensure text is on top of the image */
    
    }
    
    .report2{
            top: 175px;
                left: 430px;
                position: absolute;
                color: white;
                font-size: 30px;
                z-index: 1;
                /* Ensure text is on top of the image */
        
        }

    .ssp{
        top: 135px;
            left: 790px;
            position: absolute;
            color: white;
            font-size: 90px;
            z-index: 1;
            /* Ensure text is on top of the image */
    
    }


    .ssp-text {
        margin-left: 3px;
        font-size: 20px;
        letter-spacing: 2px;
    }

.container-container1 img {
    display: block;
    border-radius: 8px;
        height: 220px;
        width: 350px;
}

.employed-text {
    margin-left: 3px;
    font-size: 20px;
    letter-spacing: 2px;
}


.user-text {
    margin-left: 3px;
    font-size: 20px;
    letter-spacing: 2px;
}


.container-container1:hover img {
    opacity: 0.9;
}
.container:hover {
    background-color: #f0f0f0;
}
.container-container2 {
    text-decoration: none;
    border-radius: 8px;
    height: 220px;
    width: 350px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    /* Add flex display */
    justify-content: center;
    /* Align content horizontally to center */
    align-items: center;
    /* Align content vertically to center */
}

.container-container2 img {
    display: block;
    border-radius: 8px;
    height: 220px;
    width: 350px;
}

.container-container2:hover img {
    opacity: 0.9;
}

.add-navigation{
    display: flex;
    flex-direction: row;
}

.add-navigation p {
    font-size: 18px;
    margin-right: 20px;
}


.lineup1 {

}




.column {
    display: flex;
    flex-wrap: wrap;
}


.column p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.column label{
    font-size: 18px;
}

.column input{
        margin-bottom: 8px;
    font-size: 18px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: rgb(52, 52, 52);
}
.column select{
    margin-bottom: 8px;
    font-size: 18px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: rgb(52, 52, 52);
}


#photos {
    width: 30%;
}

#small{
    width: 120px;
}

#semi-small{
    width: 220px;
}

#smaller{
    width: 95px;
}

#wide{
    height: 80px;
    width: 800px;
}

.thebutton {
    position: absolute;
    bottom: 50px;
    right: 50px;
    gap: 10px;
    padding: 10px 20px;
    background-color: #d52033;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.thebutton2 {
    position: absolute;
    bottom: 50px;
    left: 20px;
    gap: 10px;
    padding: 10px 20px;
    background-color: #d52033;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.thebutton3 {
    position: absolute;
    bottom: 50px;
    left: 330px;
    gap: 10px;
    padding: 10px 20px;
    background-color: #d52033;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}



/* CSS for the button hover effect */
.thebutton:hover {
    background-color: #8e1522;
}

.fullname{
    display: flex;
    margin-top: 50px;
   
}

.right-frame{

}


.right-container-main {
    margin-left: 300px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.for-column1, .for-column2 {

    flex: 1;
    padding: 10px;
}

.for-column1 {
    margin-right: 10px; /* Optional: Adds space between the columns */
}

.right-container-details, .information-employee, .profile-right, .content {
    background-color: #f9f9f9; /* Example background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee-picture img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-right: 80px;
    width: 100%;
    height: auto;
}

.employee-picture-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employee-picture-frame {
    order: 2;
}

.employee-details {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.employee-details-name{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}



.navigation-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.navigation-buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.navigation-buttons button:disabled {
    background-color: #cccccc;
}

.employee-information{
    
}

.employee-information p{
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; /* Adjust the gap between columns and rows if needed */
}

.cards p {
    margin: 0; /* Optional: Remove default margin if necessary */
}

/* Your existing CSS styles */


.add-employee-container {
    width: 100%; /* Fill the entire width */
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-employee-container h2 {
    text-align: left;
}



.add-employee-form{
    display: flex;
    flex-wrap: wrap;
}


.add-employee-form .form-group {
    flex: 1 1 calc(50% - 10px);
    margin-right: 10px;

}

.add-employee-form .form-group.small {
    flex: 1 1 calc(25% - 10px);
}

.add-employee-form .form-group-below {
    flex: 1 1 100%; /* Take the full width */
    margin-top: 20px; /* Add some space above */
}

.add-employee-form label {
    margin-top: 10px;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.add-employee-form input[type="text"],
.add-employee-form input[type="email"],
.add-employee-form input[type="number"],
.add-employee-form select,
.add-employee-form input[type="date"] {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.add-employee-form input[type="text"]:focus,
.add-employee-form input[type="email"]:focus,
.add-employee-form input[type="number"]:focus,
.add-employee-form select:focus,
.add-employee-form input[type="date"]:focus {
    border-color: #4CAF50;
}

/* .add-employee-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-employee-form button:hover {
    background-color: #45a049;

    
} 
*/






.form-group-below{

}

.hidden {
    display: none;
}

.info-notice p{
    margin-top: 20px;
}


.styled-select {
    margin-top: 15px;
    width: 400px; /* Width of the select box */
    padding: 10px; /* Padding for some space inside the box */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
    background-color: #fff; /* Background color */
    font-size: 16px; /* Font size */
    appearance: none; /* Remove default styles in some browsers */
    cursor: pointer; /* Cursor change on hover */
}


/* Style for the options within the select element */
.styled-select option {
    padding: 10px; /* Padding inside each option */
}

#employee_details {
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px; /* Font size for the employee details */
}

#employee_full_name{
}

.field{
    margin-top: 15px;
    width: 500px; /* Width of the select box */
    height: 40px;
    padding: 10px; /* Padding for some space inside the box */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
    background-color: #fff; /* Background color */
    font-size: 16px; /* Font size */
    appearance: none; /* Remove default styles in some browsers */
    cursor: pointer; /* Cursor change on hover */
}

.contractFrom input{
    display: block;
    margin-top: 15px;
    width: 400px; /* Width of the select box */
    height: 40px;
    padding: 10px; /* Padding for some space inside the box */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
    background-color: #fff; /* Background color */
    font-size: 16px; /* Font size */
    appearance: none; /* Remove default styles in some browsers */
    cursor: pointer; /* Cursor change on hover */
}

.contractFrom label{
    display: block;

    margin-top: 30px;
    font-size: 18px; /* Font size for the employee details */
}

.contractTo input{
    margin-top: 15px;
    width: 400px; /* Width of the select box */
    height: 40px;
    padding: 10px; /* Padding for some space inside the box */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
    background-color: #fff; /* Background color */
    font-size: 16px; /* Font size */
    appearance: none; /* Remove default styles in some browsers */
    cursor: pointer; /* Cursor change on hover */
}

.contractTo label{
    display: block;

    margin-top: 30px;
    font-size: 18px; /* Font size for the employee details */
}

.uploadContract input{
    margin-top: 15px;
    width: 500px; /* Width of the select box */
    height: 45px;
    padding: 10px; /* Padding for some space inside the box */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
    background-color: #fff; /* Background color */
    font-size: 16px; /* Font size */
    appearance: none; /* Remove default styles in some browsers */
    cursor: pointer; /* Cursor change on hover */
}

.uploadContract label{
    display: block;

    margin-top: 30px;
    font-size: 18px; /* Font size for the employee details */
}

.employee-Renew input[type="submit"] {
    position: absolute;
    bottom: 20px;
    right: 20px;
    gap: 10px;
    padding: 10px 20px;
    background-color: #d52033;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-disabled:disabled {
    background-color: white; 
    color: black;
    /* cursor: not-allowed;  */

}

/* test employeeDetails2 */

.employee-profile {
    border: 1px solid #c6c6c6;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    /* background: #fff;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; */

}

.profile-left {

    text-align: center;
    margin-right: 40px;
    margin-left: 20px;
}

.employees-picture img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid #c8c8c8;
}


.employee-name {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
}

.profile-rightz {
        margin-left: 40px;
    flex: 1;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.nav a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.1s, color 0.1s;
}

.nav a:hover {
    background-color: #007BFF;
    color: #fff;
}

.nav a.disabled {
    pointer-events: none;
    color: gray; /* Change the color to indicate it's disabled */
    text-decoration: none; /* Remove underline */
}

.contente section {
    display: none;
}

.contente section:target {
    display: block;
}

.contente h3 {
    margin-top: 0;
    color: #333;
}

.contente p {
    color: #666;
}

.vertical-line {
    border-left: 1px solid rgb(208, 208, 208); /* Adjust the width and color as needed */
    height: 100%; /* Full viewport height */
}

/* next and back button */


.existing-next-class {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.existing-next-class:hover {
    background-color: #0056b3;
}

.existing-back-class {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.existing-back-class:hover {
    background-color: #5a6268;
}


.submit-button {
    background-color: #28a745;
    color: white;
}

.submit-button:hover {
    background-color: #218838;
}

button[type="button"] {
    display: inline-block;
}